html,
body{
    margin: 0;
    padding: 0
}
footer {
    background-color: #1d3f1e;
}

* {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Phone screen */
@media only screen and (min-width: 1px) and (max-width: 700px) {
    #container {
        display: grid;
        width: 100%;
        height: 2000px;
        grid-template-columns: 33.3% 33.3% 33.3% 33.3%;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh 
                            20vh 20vh 20vh 20vh 20vh;
        background-image: url('images/background.png');
        background-repeat: repeat;
        background-size: contain;
    }

    .bubbleBig {
        width: 175px;
        margin-bottom: 40px;
    }

    .bubbleMdm {
        width: 150px;
    }

    .bubbleSml {
        width: 100px;
    }

    #lvl1 {
        grid-column: 2 / span 1;
        grid-row: 13 / span 1;
    }

    #lvl2 {
        grid-column: 1 / span 1;
        grid-row: 12 / span 1;
    }
    #lvl3 {
        grid-column: 3 / span 1;
        grid-row: 11 / span 1;
    }

    #lvl4 {
        grid-column: 1 /span 1;
        grid-row: 10 / span 1;
    }

    #lvl5 {
        grid-column: 2 /span 1; 
        grid-row: 9 / span 1;
    }




    /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 100px;
    background-color: #7185d4;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    position: absolute;
    top: 100%;
    left: 48%;
    border-width: 5px;
    border-style: solid;
    border-color: #7185d4 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
  }
    
}

/* Ipad screen */
@media only screen and (min-width: 701px) and (max-width: 1280px) {
    #container {
        display: grid;
        width: auto;
        height: 1000px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    }

    #lvl1 {
        background-color: #00ffe5;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        font-size: 12pt;
    }

    #lvl2 {
        background-color: #dd00ff;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
}

/* Desktop */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
    #container {
        display: grid;
        width: auto;
        height: 1000px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    }

    #lvl1 {
        background-color: #ff4d00;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        font-size: 12pt;
    }

    #lvl2 {
        background-color: #1d3f1e;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
}