html, body {
    height: 100%;
    margin: 0;
    background-color: beige !important;     
}

.navbar-toggler{
    position: fixed;
    top: 9%;
    left: 5%;
    border: none;
}

.profile button {
    position: fixed;
    top: 6%;
    right: 5%;
    width: 70px;
    padding:10px;
    background-color: lightgray;
    border-radius: 20px;
    border-color: green;
}

#navbarNav{
    position: fixed;
    top: 15%;
    left: 5%;
    
}
.nav-item {
    background-color: white;
    height: 65px;
    width: 200px;
    font-size: 16pt;
    border-radius: 10px;
    text-align: center;
    margin-top: 4px;
    border: 3px solid green;
    padding-top: 5px;
}

.nav-item1 {
    background-color: white;
    height: 65px;
    width: 200px;
    font-size: 16pt;
    border-radius: 10px;
    text-align: center;
    margin-top: 4px;
    border: 3px solid green;
    padding-top: 5px;
}

.leaderboard {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    position: fixed;  
    top: 100px;      
    left: 0;          
    right: 0;        
    bottom: 0;      
    overflow-y: auto; 
    max-width: 800px; 
    margin: 0 auto;   
    z-index: 999;     
    background-color: beige; 
    padding-top: 20px; 
}

.leaderboard table {
    background-color: beige;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard th,
.leaderboard td {
    border: 1px solid beige;
    padding: 8px;
    text-align: center;
}

.leaderboard th {
    font-weight: bold;
}
.footer {
    position: fixed;   
    bottom: 0;          
    left: 0;            
    width: 100%;       
    text-align: center;
    font-size: 0.9em;   
    color: #777;      
    padding: 10px;      
  }
  