
body {
    background-color: beige;
}

.container{
    background-color: beige;
}
.navbar-toggler{
    position: fixed;
    top: 9%;
    left: 5%;
    border: none;
}
#navbarNav{
    position: fixed;
    top: 15%;
    left: 5%;
    
}
.profile button {
    position: fixed;
    top: 6%;
    right: 5%;
    width: 70px;
    padding:10px;
    background-color: lightgray;
    border-radius: 20px;
    border-color: green;


}
.Pr{
    size: 5pt;
}
.banner{
    text-align: center;
}

.buttons {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 10% solid #ccc;
    border-radius: 10px;
}
.buttons #journey {
    width: 100%;
    padding: 10%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}
.buttons #journey:hover {
    background-color: #45a049;
}

.buttons #toolbox {
    width: 100%;
    padding: 5%;
    background-color: lightgreen;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px
}
.buttons #toolbox:hover {
    background-color: greenyellow;
}

.register-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 10% solid #ccc;
    border-radius: 10px;
}
.register-form input {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.register-form button {
    width: 100%;
    padding: 3%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.register-form button:hover {
    background-color: #45a049;
}

.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* Centers the circle horizontally */
  }

  .button-row {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.button-row button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 3 equal columns */
    gap: 10px; /* Space between grid items */
}

.grid-item {
    color: lightgreen;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}